# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

'AIzaSyC02SLKGD6bxZrnW3gwISOEOHnF_ZUOHLo'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:

city_data = pd.read_csv("../output_data/cities.csv")
city_data.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,kapaa,22.0752,-159.3190,26.99,77,40,6.17,US,1651608887
1,1,barrow,71.2906,-156.7887,-5.99,86,100,5.14,US,1651608707
2,2,busselton,-33.6500,115.3333,13.33,68,84,4.85,AU,1651608889
3,3,mar del plata,-38.0023,-57.5575,16.08,59,0,6.17,AR,1651608890
4,4,vaini,-21.2000,-175.2000,23.09,88,20,2.57,TO,1651608890

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
locations = city_data[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = city_data["Humidity"].astype(float)

In [5]:
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
hotel_df = (city_data.loc[(city_data['Cloudiness'] == 0) & ( city_data['Humidity'] < 60) &
                           (city_data['Max Temp'] > 22) &(city_data['Max Temp'] < 29)])
hotel_df=hotel_df.dropna()
hotel_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
44,44,nizwa,22.9333,57.5333,27.18,18,0,2.45,OM,1651608917
48,48,ahmadnagar,19.0833,74.7333,28.24,46,0,5.35,IN,1651608920
103,103,half moon bay,37.4636,-122.4286,26.34,41,0,7.20,US,1651608953
107,107,cabo san lucas,22.8909,-109.9124,28.67,44,0,4.63,MX,1651608895
120,120,laguna,38.4210,-121.4238,25.60,26,0,7.72,US,1651608961

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [37]:
hotel_df['Hotel Name'] = ""

In [61]:
params = { 
    "radius": "5000",
    "type": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "restaurant" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_data = requests.get(base_url, params=params)
    
    # convert to json
    hotel_data = hotel_data.json()
    
    hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
    
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
44,44,nizwa,22.9333,57.5333,27.18,18,0,2.45,OM,1651608917,Orient Apartments
48,48,ahmadnagar,19.0833,74.7333,28.24,46,0,5.35,IN,1651608920,STARiHOTELS Maliwada Ahmednagar
103,103,half moon bay,37.4636,-122.4286,26.34,41,0,7.20,US,1651608953,"The Ritz-Carlton, Half Moon Bay"
107,107,cabo san lucas,22.8909,-109.9124,28.67,44,0,4.63,MX,1651608895,Hotel Tesoro Los Cabos
120,120,laguna,38.4210,-121.4238,25.60,26,0,7.72,US,1651608961,Holiday Inn Express & Suites Elk Grove Central...
126,126,kingman,35.1894,-114.0530,23.96,8,0,4.12,US,1651608887,Rodeway Inn Kingman Route 66
210,210,catamarca,-28.4696,-65.7852,24.32,31,0,0.89,AR,1651609019,Amerian Catamarca Park Hotel
267,267,baghdad,33.3406,44.4009,28.95,24,0,3.60,IQ,1651609052,Baghdad Hotel
301,301,redlands,34.0556,-117.1825,27.95,49,0,2.57,US,1651608911,Dynasty Suites Redlands
353,353,karratha,-20.7377,116.8463,26.23,58,0,1.66,AU,1651609095,ibis Styles Karratha
368,368,saint george,37.1041,-113.5841,22.57,11,0,6.69,US,1651608812,Best Western Plus Abbey Inn
375,375,sunrise manor,36.2111,-115.0731,27.12,8,0,11.32,US,1651609107,Comfort Inn & Suites Las Vegas - Nellis
432,432,raton,36.9034,-104.4391,23.51,26,0,4.63,US,1651609067,"Holiday Inn Express & Suites Raton, an IHG Hotel"
472,472,san rafael,-34.6177,-68.3301,24.15,15,0,4.59,AR,1651609023,Hotel San Rafael

In [63]:
#Plotting the Humidity Heatmap
locations = hotel_df[["Lat", "Lng"]].astype(float)
hum_map = hotel_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=hum_map, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [65]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer((markers))

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))